doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TestFly login
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="/stylesheets/style.css" rel="stylesheet")
  body.d-flex.justify-content-center.align-items-center.min-vh-100
    .container
      .row
        .col-12.col-md-6.mx-auto
          img.img-fluid.logo(src="/images/testfly_logo.png", alt="TestFly logo")
          form(action="/users/login" method="POST")
            .mb-3
              label(for="username" class="form-label") Usuario:
              input#username.form-control(type="text" name="username" required)
            .mb-3
              label(for="password" class="form-label") Contraseña:
              input#password.form-control(type="password" name="password" required)
            button.btn.btn-primary.w-100(type="submit") Ingresar
          if error
            p.text-danger.text-center.mt-3 #{error}
    script(src="/javascripts/bootstrap.bundle.min.js")
